/**GLOBALES**/
html{
    font-size: 62,5%;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

*, *:before, *after{
    box-sizing: inherit;
   }

body{
    line-height: 2rem;
}

img{
    max-width: 100%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1rem;
}

.contenedor{
    max-width: 90rem;
    margin: 0 auto;
}

.navegacion a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    padding-right: 1rem;
}

.navegacion a:last-of-type{
    padding-right: 0;
}

.navegacion a:hover{
    color: lightseagreen;
}

/************/

/**UTILIDADES**/
.seccion{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.fw-400{
    font-weight: 400;
}

.centrar-texto{
    text-align: center;
}

.d-block{
    display: block!important;
}

.contenido-centrado{
    max-width: 60rem;
}

/************/

/**BOTONES**/
.boton{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
}

.boton-amarillo{
    background-color: #d67f0e;
}

.boton-verde{
    background-color: rgba(14, 170, 14, 0.979);
}
/************/


.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.site-header{
    background-color: black;
    padding: 0rem 0rem 2rem 0rem;
    align-items: center;
}

.barra-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.contenido-header h1{
    padding-bottom: 9rem;
    color: white;
    max-width: 50rem;
    font-size: 3rem;
    line-height: 5rem;
}

.iconos-nosotros{
    display: flex;
}

.iconos{
    flex-basis: calc(33.3%);
    justify-content: space-between;
    text-align: center;
}

.iconos h3{
    text-transform: uppercase;
}

.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.anuncio{
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

.contenido-anuncio{
    padding: 1rem;
}

.contenido-anuncio h3, 
.contenido-anuncio p{
    margin: 0;
}

.precio{
    color: #31b631;
    font-weight: 900;
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
}

.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    height: 30rem;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.contenido-contacto{
    flex: 1;
    color: white;
}

.contenido-contacto p{
    font-size: 1.5rem;
}

.iconos-caracteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 50rem;
    flex: 1;
}

.iconos-caracteristicas li{
    display: flex;    
}

.iconos-caracteristicas li img{
    margin-right: 2rem;
}

/**INFERIOR**/

.seccion-inferior{
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog{
    flex-basis: calc(55%);
}

.seccion-inferior .testimoniales{
    flex-basis: calc(37% - 1rem);
}

.entrada-blog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.entrada-blog .imagen{
    flex-basis: 40%;
}

.entrada-blog .texto-entrada{
    flex-basis: calc(60% - 3rem);
}

.texto-entrada h3{
    font-size: 2rem;
    margin: 0;
    text-decoration: none;
}

.texto-entrada p{
    font-size: 1.1rem;
    text-align: justify;
}

.texto-entrada a{
    color: black;
    text-decoration: none;
}

.texto-entrada h3::after{
    content: '';
    display: block;
    width: 15rem;
    height: 0.5rem;
    background-color: #31b631;
    margin-top: 1rem;
}

.texto-entrada span{
    color: #d67f0e;
    font-weight: 700;
}
/***********/

/**TESTIMONIAL**/
.testimonial{
    background-color: #31b631;
    font-size: 1.5rem;
    padding: 2rem;
    color: white;
    line-height: 4rem;
    text-align: justify;
    border-radius: 2rem;
}

.testimonial p{
    text-align: right;
}

.testimonial blockquote::before{
    content: '';
    background-image: url(../img/comilla.svg);
    width: 3rem;
    height: 3rem;
    display: block;
    position: absolute;
    left: -2rem;
}

.testimonial blockquote{
    position: relative;
    padding-left: 2rem;
    font-weight: 300;
}
/***************/
/**FOOTER**/
.site-footer{
    background-color: black;
    margin: 0;
}

.copyright{
    margin: 0;
    color: white;
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0rem;
    text-align: center;
}
/**********/

/**INTERNAS**/

/**NOSOTROS**/
.contenido-nosotros{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 3rem;
    margin-top: 4rem;
}

.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 2rem 0rem 3rem 0rem;
}

/**ANUNCIO**/
.resumen-propiedad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-centrado p{
    text-align: justify;
}

.titulo-principal h1{
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/**********/